# korben add some go snippets.
# import test
snippet imt
	import (
		"testing"
		"mabetle/mcore/mtest"
	)

	${0}
# test func
snippet fnt
	func Test${1:XXX}(t *testing.T){
		mtest.RegTest(t)
		mtest.Assert${2:Equal}(${3:true},${4:true})
	}

	${0}
# main()
snippet ma
	func main() {
		${1}
	}
	${0}

# package main
snippet pm
	package main

	${0}
# type
snippet tys
	type ${1:name} struct{
		${2}
	}
	${0}
# type
snippet tyi
	type ${1:name} interface{
		${2}
	}
	${0}
