*.class
*.jar
*.war
*.ear
\#*
*.*~
*.log
*.bak
*.tmp


# Dirs
bundle/
.netrwhist
view/

# ignore expr_vimrc
# can udpate this file freely, donot warry about disturb git repo.
Session.vim

#  the  triditional vim config dir.
autoload
plugin
doc
after
ftplugin
macros

# vim run dir
backup/
swap/
undo/
views/

*.swp

